h1{
    font-family: Georgia, 'Times New Roman', Times, serif;
}
p{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 30px;
}
body{
    background-image: url(/img/annie-spratt-0ZPSX_mQ3xI-unsplash.jpg);
    margin: 0px;
}