body{
    background-image: url(/img/annie-spratt-0ZPSX_mQ3xI-unsplash.jpg);
    margin: 0px;
}

h1{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    padding-top: 5px;
    font-size: 70px;
  
    
}
main{
    align-content: center;
}
img{
    height: 400px;
    width: 400px;
    object-fit: cover;
    padding-left: 60px;
    padding-top: 100px;
}
p{
    padding-left: 20px;
    padding-top: 100px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 34px;
}

div{
    display: flex;
}